<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>双向数据绑定</title>
    <script src="js/angular.js"></script>
</head>
<body>

<div ng-controller="myCtrl">
    <h4>方向1：数据==>视图</h4>
    <button ng-click="add()">自增</button><span>{{num}}</span>
    <h4>方向2：视图==>数据</h4>
    <input type="text" ng-model="myText"/>


</div>

<script>
    var app = angular.module('myApp',['ng']);
    app.controller('myCtrl',function($scope){
        $scope.num = 0;
        $scope.myText='';
        $scope.add = function(){
            $scope.num++;
        };
        //$watch();查看数据绑定
        $scope.$watch('myText',function(){
            console.log($scope.myText);
        });
    });
</script>
</body>
</html>