	<div id="footer" class="wrap clear">
		<div id="footer1" class="clear">
			<div class="clear">
				<h4>底部简介</h4>
				<div></div>
				<p>装饰有限公司成立于1997年，是以家装为主，涉足商装、建材等相关产业的专业性装饰公司。具有施工、设计双乙级资质。通过多年的努力，在业内外....</p>
				<a href=""><span>查看更多</span></a>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		
			<div class="clear">
				<h4>底部新闻</h4>
				<div></div>
				<a href="">&gt;&nbsp;低碳建筑首选天然石材</a>
				<a href="">&gt;&nbsp;装修旺季促销建材家居</a>
				<a href="">&gt;&nbsp;全球原木材原料严重紧</a>
				<a href="">&gt;&nbsp;将文化融入设计以设</a>
				<a href="">&gt;&nbsp;我国玻璃纤维产业规模</a>
			</div>

			<div>
				<h4>底部图片</h4>
				<div></div>
				<img src="img/index/a.jpg" alt="">
				<img src="img/index/b.jpg" alt="">
				<img src="img/index/b34.jpg" alt="">
				<img src="img/index/b35.jpg" alt="">
				<img src="img/index/b36.jpg" alt="">
				<img src="img/index/b37.jpg" alt="">
				<img src="img/index/b38.jpg" alt="">
				<img src="img/index/b39.jpg" alt="">
				<img src="img/index/b40.jpg" alt="">
			</div>
			<div>
				<h4>联系我们</h4>
				<div></div>
				<p>广东省广州市天河区276号</p>
				<p>86-12345678901</p>
				<p>123456789@qq.com</p>
				<p>www.spademo.com</p>
			</div>
		</div>
		<div id="footer2" class="clear">
			<p>友情链接 : /中国建筑装饰网 /中国建筑与室内设计师网/ 极设计 /Metinfo /网站建设</p>
			<p>装饰公司 版权所有 2008-2012 湘ICP备8888888</p>
			<p>电话：0731-12345678 12345678 QQ:88888888 999999 Email:admin@admin.com</p>
			<p>Powered by MetInfo 5.3.15</p>
		</div>
	</div>