
<div class="container">
    <div id="round_pic" class="wrap clear">
			<ul class="pic" style="transition:all .3s linear;"
			data-load="bannerImgs">
			</ul>
			<ul class="indicators clear" data-load="bannerInds">
			</ul>
			<div class="direction left" data-move="left"> &lt;</div>
			<div class="direction right" data-move="right"> &gt;</div>	
		</div>
		<div id="our_server"class="clear wrap">
			<h3>我们的服务</h3>
			<i></i>
			<span>我们为不同行业提供专业的装修服务</span>
			<div class="samples_show clear">
				<div class="module right1">
					<img src="img/index/b14.jpg" alt="">
					<h4><a href="server_item.html?pno=1&id=2" target="_blank">精装修房</a></h4>
					<p><a href="server_item.html?pno=1&id=2" target="_blank">本设计从现在人的角度，以现在手法融合东方古典美学，天人合一的居住理念，结合客户审美取向，空间灯具，家私及饰品相当另类。汇聚东方文化的宽阔气度，打造崭新的新东方主义，放眼国际的顶级居住空间。更置中国人的</a></p>
				</div>
				<div class="module left1">
					<img src="img/index/b13.jpg" alt="">
					<h4><a href="server_item.html?pno=1&id=4" target="_blank">公共设施</a></h4>
					<p><a href="server_item.html?pno=1&id=4" target="_blank">本案设计含大堂、电梯间、过道、会议室、办公室、活动中心、娱乐室、食堂、包厢等功能区域及配套。作为一个办公活动空间的专业个案，在平面规划中自始至终遵循实用、功能需求和人性化管理充分结合的原则。既结合办公</a></p>
				</div>
				<div class="module right2">
					<img src="img/index/b12.jpg" alt="" target="_blank">
					<h4><a href="server_item.html?pno=1&id=3" target="_blank">酒店会所</a></h4>
					<p><a href="server_item.html?pno=1&id=3" target="_blank">本会所的设计从传统的英伦绅士俱乐部深沉而又丰富的色调中获得灵感。舒适，稍带些世故，有着传统感和历史感，力求传达出一种温暖而阳刚的主题，打造温暖柔软的轮廓，塑造会所空间安静放松的环境。历史感和当代细节的</a></p>

				</div>
				<div class="module left2">
					<img src="img/index/b15.jpg" alt="">
					<h4><a href="server_item.html?pno=1&id=5" target="_blank">办公医疗</a></h4>
					<p><a href="server_item.html?pno=1&id=5" target="_blank">本案设计为现代风格，米黄色调贯穿整个空间，蓝色和绿色加以做点缀，突出现代风格的实用性和灵活性特点。一层大厅及公共空间是人流向最密集的地方，为明确功能的区分，通过吊顶造型、地面材料对区域进行划分和导引，</a></p>
				</div>
			</div>
		</div>
		<div id="us" class="clear wrap">
			<div>
				<img src="img/index/about_bg.jpg" alt="">
				<div>We are E.s.t 2005</div>
			</div>
			<div class="we_are_deatails"> 
				<h4>关于我们</h4>
				<i></i>
				<p>装饰有限公司成立于1997年，是以家装为主，涉足商装、建材等相关产业的专业性装饰公司。具有施工、设计双乙级资质。通过多年的努力，在业内外形成了良好的口碑。公司先后荣获“全国住宅装饰装修行业自律诚信单位”、“住宅装饰装修优秀企业”、“住宅装饰装修示范优秀奖等多项殊荣，并多次在家居装饰设计大赛中获奖。</p>
				<p> “优秀的设计、优良的工程、优质的服务”是的承诺，“创新力、凝聚力、想像力，为您打造新天地”是的口号。本着“价格透明化；施工标准化；工艺现代化；材料环保化；人员专业化；服务人性化”的六化原则，服务于每一位客户，致力打造客户满意的精品工程。在为您服务的是一个经过专业系统培训、时间经验丰富的团队，力求以专业的态度和一种持之以恒的精神完成每一个项目。公司汇集了各种设计流派且经验丰富的设计师，工艺精湛的施工队伍采用带薪制管理，全心全意为您构筑舒适温馨的家园。专业严谨的工程监理，随时监督工程质量，完善的服务体系，为您消除后顾之忧。</p>
			</div>
		</div>
		<div id="hot_item" class="wrap clear">
			<h3>热门项目</h3>
			<i></i>
			<span>我们有强大的服务团队为企业提供一对一的定制服务</span>
			<div class="my_wrap">
				<ul class="picture_carousel">		
					<li>
						<a href="details.html?num=2" target="_blank">
							<img src="img/index/b1.jpg" alt="">
							<div>
								<h3>卧室</h3>
								<i></i>
								<p>
									唯美设计 简约温馨 空间格局利用的恰到好处 给人在视觉上一个洗礼 完全忘乎外界的
								</p>
							</div>
						</a>
					</li>
					<li>
						<a href="details.html?num=5" target="_blank">
							<img src="img/index/b2.jpg" alt="">
							<div>
								<h3>商务会所</h3>
								<i></i>
								<p>
									本设计中流露的是一种自然流露的作风，奢华的且略带优雅的贵族气质。
								</p>
							</div>
						</a>
					</li>
					<li>
						<a href="details.html?num=1">
							<img src="img/index/b18.jpg" alt="">
							<div>
								<h3>客厅</h3>
								<i></i>
								<p>
									本设计从现在人的角度，以现在手法融合东方古典美学，天人合一的居住理念，结合客户审
								</p>
							</div>
						</a>
					</li>
					<li>
						<a href="details.html?num=3">
							<img src="img/index/b20.jpg" alt="">
							<div>
								<h3>别墅</h3>
								<i></i>
								<p>
									现代人快节奏的生活步调,缺乏一种"停下来"的姿态.本案中的轻古典,摒弃了现代风格
								</p>
							</div>
						</a>
					</li>
					<li>
						<a href="details.html?num=2">
							<img src="img/index/b1.jpg" alt="">
							<div>
								<h3>卧室</h3>
								<i></i>
								<p>
									唯美设计 简约温馨 空间格局利用的恰到好处 给人在视觉上一个洗礼 完全忘乎外界的
								</p>
							</div>
						</a>
					</li>
					<li>
						<a href="details.html?num=5">
							<img src="img/index/b2.jpg" alt="">
							<div>
								<h3>商务会所</h3>
								<i></i>
								<p>
									本设计中流露的是一种自然流露的作风，奢华的且略带优雅的贵族气质。
								</p>
							</div>
						</a>
					</li>
					<li>
						<a href="details.html?num=1">
							<img src="img/index/b18.jpg" alt="">
							<div>
								<h3>客厅</h3>
								<i></i>
								<p>
									本设计从现在人的角度，以现在手法融合东方古典美学，天人合一的居住理念，结合客户审
								</p>
							</div>
						</a>
					</li>
					<li>
						<a href="details.html?num=3">
							<img src="img/index/b20.jpg" alt="">
							<div>
								<h3>别墅</h3>
								<i></i>
								<p>
									现代人快节奏的生活步调,缺乏一种"停下来"的姿态.本案中的轻古典,摒弃了现代风格
								</p>
							</div>
						</a>
					</li>
				
				</ul>
			</div>
			<ul class="neckrein clear" >
				<li class="left"><a>&lt;</a></li>
				<li class="right"><a>&gt;</a></li>
			</ul>
		</div>
		<div id="customer_case" class="wrap clear">
			<h3>客户案例</h3>
			<i></i>
			<span>我们整理了部分客户案例供您欣赏</span>
			<ul class="project_list clear">
				<li>全部</li>
				<li>精装修房</li>
				<li>酒店会所</li>
				<li>公共设施</li>
				<li>办公医疗</li>
			</ul>
			 <ul class="list clear">
				<!--<li>
					<a href="">
						<img src="img/index/thumb (19).jpg" alt="">
						<div>
							<h3>公寓</h3>
							<i></i>
							<p>
								本案为精装公寓交楼标准样板房展示，实用面积仅为45平方，一房一厅，一厨一卫，独立生活阳台。以简约低调奢华的手法来展示当代都市白领们的高雅气质很生活品味，以人为本..
							</p>
						</div>	
					</a>
					
				</li>
				<li>
					<a href="">
						<img src="img/index/thumb (20).jpg" alt="">
					</a>
					<div>
						<h3>别墅</h3>
						<i></i>
						<p>
							现代人快节奏的生活步调,缺乏一种"停下来"的姿态.本案中的轻古典,摒弃了现代风格完全简约的呆板与单调,在空间设计,材料,色彩运用,家具装饰品陈设上,对园林古文化..
						</p>
					</div>				
				</li>
				<li>
					<a href="">
						<img src="img/index/thumb (21).jpg" alt="">
					</a>
					<div>
						<h3>卧室</h3>
						<i></i>
						<p>
							唯美设计 简约温馨 空间格局利用的恰到好处 给人在视觉上一个洗礼 完全忘乎外界的繁琐。
						</p>
					</div>				
				</li>
				<li>
					<a href="">
						<img src="img/index/thumb (2).jpg" alt="">
					</a>
					<div>
						<h3>主题会所</h3>
						<i></i>
						<p>
							本设计中推崇的是一种自然流露的作风，奢华的且略带优雅的贵族气质。整个设计定位较之于传统意义上的法式风格，又杂糅了一些简约时尚风格，细节均体出现柔美精致的姣好的轮..
						</p>
					</div>				
				</li>
				<li>
					<a href="">
						<img src="img/index/thumb (3).jpg" alt="">
					</a>
					<div>
						<h3>主题酒店</h3>
						<i></i>
						<p>
							酒店功能以餐厅和住宿为主，附以会议室等。整体为旧楼改造工程，因此针对周边环境和消费人群，整体设计格调，以现块面结合为主，附以明快的色调。
						</p>
					</div>			
				</li>
				<li>
					<a href="">
						<img src="img/index/thumb (4).jpg" alt="">
					</a>
					<div>
						<h3>商务会所</h3>
						<i></i>
						<p>
							本会所的设计从传统的英伦绅士俱乐部深沉而又丰富的色调中获得灵感。舒适，稍带些世故，有着传统感和历史感，力求传达出一种温暖而阳刚的主题，打造温暖柔软的轮廓，塑造会..
						</p>
					</div>		
				</li>
				<li>
					<a href="">
						<img src="img/index/thumb (5).jpg" alt="">
					</a>
					<div>
						<h3>办公室</h3>
						<i></i>
						<p>
							本项目在设计定位上，以展示地产公司实力为依托，在功能空间划分上，以接待，办公，为一体的中型办公空间。视觉立求大气，开放，有空间的渗透性，围合性，才彰显地产公司的..
						</p>
					</div>		
				</li>
				<li>
					<a href="">
						<img src="img/index/thumb (6).jpg" alt="">
					</a>
					<div>
						<h3>大堂</h3>
						<i></i>
						<p>
							本案设计含大堂、电梯间、过道、会议室、办公室、活动中心、娱乐室、食堂、包厢等功能区域及配套。作为一个办公活动空间的专业个案，在平面规划中自始至终遵循实用、功能需..
						</p>
					</div>		
				</li>
				<li>
					<a href="">
						<img src="img/index/thumb (7).jpg" alt="">
					</a>
					<div>
						<h3>工商银行</h3>
						<i></i>
						<p>
							银行位于城市的各个角落，属于国家的重点安全防范单位，它具有规模多样、重要设施繁多、出入人员复杂、管理涉及领域广等特点。它作为当今社会货币的主要流通场所、国家经济..
						</p>
					</div>		
				</li>
				<li>
					<a href="">
						<img src="img/index/thumb (8).jpg" alt="">
					</a>
					<div>
						<h3>医院病房</h3>
						<i></i>
						<p>
							本院设计在功能布局上清晰合理，突显出“以人为本，以病人为中心”的宗旨。采用现代简约的设计手法、简单的色彩搭配，塑造出健康温馨的医疗环境。大厅及各功能科室采用石材..
						</p>
					</div>		
				</li>	-->		
			</ul> 			
		</div>
		<div id="news_center" class="wrap clear">
			<h3>新闻中心</h3>
			<i></i>
			<span>最新行业新闻资讯</span>
			<ul class="static_graph clear">
				<li>
					<a href="#">
						<img src="img/index/b9.jpg" alt="">
						<span></span>
					</a>
					<div>
						<span>17</span>
						<span>Sep</span>					
					</div>
				</li>
				<li>
					<a href="#">
						<img src="img/index/b10.jpg" alt="">
						<span></span>
					</a>
					<div>
						<span>17</span>
						<span>Sep</span>
					</div>
				</li>
				<li>
					<a href="#">
						<img src="img/index/b11.jpg" alt="">
						<span></span>
					</a>
					<div>
						<span>17</span>
						<span>Sep</span>					
					</div>
				</li>
			</ul>
			<ul class="tips clear">
				<li>
					<span>admin</span>
					<i></i>
					<span>329</span>
					<i></i>
				</li>
				<li>
					<span>admin</span>
					<i></i>
					<span>188</span>
					<i></i>
				</li>
				<li>
					<span>admin</span>
					<i></i>
					<span>128</span>
				</li>
			</ul>
			<ul class="news_list clear wrap">
				<li>
					<h3>
						<a href="#">低碳建筑首选天然石材 环保健康受欢迎</a>
					</h3>
					<p>所谓低碳经济，是指在可持续发展理念指导下，通过技术创新、制度创新、产业转型等多种手段，尽可能地减少煤炭石油等高碳能源消耗，减少排放，达到经济社会发展与生态环境保..</p>
				</li>
				<li>
					<h3>
						<a href="#">装修旺季促销建材家居景气指数回升</a>
					</h3>
					<p>由中国建筑材料流通协会发布的全国建材家居景气指数BHI9月份为119.02，环比上升10.05%，同比上升1.35%。这符合业界预期。由中国建筑材料流通协会..</p>
				</li>
				<li>
					<h3>
						<a href="#">全球原木材原料严重紧缺危及建材行业</a>
					</h3>
					<p>众所周知，海啸给中国地板、家具行业的影响正在逐步显现。由于印尼等国实行出口紧缩政策，使全球原木材原料供给吃紧，国内那些过分依靠海外采购原木材的下游企业将面临难关..</p>
				</li>

			</ul>
		</div>
		<div id="customer_feedback" class="wrap clear">
		    <div class="owl_stage_outer">
				<div class="owl-item clear">
					<div class="testimonials-content">
						<h4>客厅装修</h4>
						<p>一对一订制服务很不错，为我们公司制定了一套相当不错的方案，很好的解决了我们公司的难题，值得合作的公司。 “优秀的设计、优良的工程、优质的服务”是的承诺，“创新力</p>
						<i></i>
						<img src="img/index/b42.jpg" alt="">
					</div>
					<div class="testimonials-content">
						<h4>办公室装修</h4>
						<p>一对一订制服务很不错，为我们公司制定了一套相当不错的方案，很好的解决了我们公司的难题，值得合作的公司。 “优秀的设计、优良的工程、优质的服务”是的承诺，“创新力</p>
						<i></i>
						<img src="img/index/b43.jpg" alt="">
					</div>
					<div class="testimonials-content">
						<h4>客厅装修</h4>
						<p>一对一订制服务很不错，为我们公司制定了一套相当不错的方案，很好的解决了我们公司的难题，值得合作的公司。 “优秀的设计、优良的工程、优质的服务”是的承诺，“创新力</p>
						<i></i>
						<img src="img/index/b44.jpg" alt="">
					</div>
					<div class="testimonials-content">
						<h4>客厅装修</h4>
						<p>一对一订制服务很不错，为我们公司制定了一套相当不错的方案，很好的解决了我们公司的难题，值得合作的公司。 “优秀的设计、优良的工程、优质的服务”是的承诺，“创新力</p>
						<i></i>
						<img src="img/index/b42.jpg" alt="">
					</div>
					<div class="testimonials-content">
						<h4>办公室装修</h4>
						<p>一对一订制服务很不错，为我们公司制定了一套相当不错的方案，很好的解决了我们公司的难题，值得合作的公司。 “优秀的设计、优良的工程、优质的服务”是的承诺，“创新力</p>
						<i></i>
						<img src="img/index/b43.jpg" alt="">
					</div>
					<div class="testimonials-content">
						<h4>客厅装修</h4>
						<p>一对一订制服务很不错，为我们公司制定了一套相当不错的方案，很好的解决了我们公司的难题，值得合作的公司。 “优秀的设计、优良的工程、优质的服务”是的承诺，“创新力</p>
						<i></i>
						<img src="img/index/b44.jpg" alt="">
					</div>
				</div>
			</div>
			<ul class="buttons">
				<li class="right">&gt;</li>
				<li class="left">&lt;</li>
			</ul>
		</div>
		<div id="cooperative_partner" class="wrap clear">
			<div class="reciprocal_second clear">
				<div class="cooperative_partner">
					<h4>合作伙伴</h4>
					<i></i>
					<span>欢迎更多的公司成为我们的合作伙伴</span>
					<div class="partner_list clear">
						<img src="img/index/b16.jpg" alt="">
						<img src="img/index/b17.jpg" alt="">
						<img src="img/index/b22.jpg" alt="" >
						<img src="img/index/b31.jpg" alt="">
						<img src="img/index/b24.jpg" alt="">
						<img src="img/index/b25.jpg" alt="">
						<img src="img/index/b26.jpg" alt="">
						<img src="img/index/b27.jpg" alt="">
						<img src="img/index/b28.jpg" alt="">
						<img src="img/index/b29.jpg" alt="">
						<img src="img/index/b30.jpg" alt="">
						<img src="img/index/b16.jpg" alt="">
					</div>
				</div>
				<div class="leave_messages">
					<h4>合作伙伴</h4>
					<i></i>
					<span>如果您有什么意见请立即联系我</span>
					<div>
						<input type="text" placeholder="姓名" id="uname" name="uname">
						<input type="text" placeholder="电话" id="phone" name="phone">
						<input type="text" placeholder="Email">
						<input type="text" placeholder="其他联系方式">
						<textarea name="" id="" cols="30" rows="10" placeholder="留言内容"></textarea>
						<input type="button" value="提交留言">
					</div>
				</div>
			</div>
		</div>
</div>