<header></header>
<div>
    		<div id="top_bg" class="wrap clear"></div>
			<div id="main" class="wrap clear">
				<div class="left">
					<div id="search">
						<h4>搜索</h4>
						<i></i>
						<div class="search_box">
							<input type="text" placeholder="Search">
							<button></button>
						</div>
					</div>
					<div id="server_item_list">
						<h4>服务项目</h4>
						<i></i>
						<ul>
							<li><span>&gt; 精装修房</span></li>
							<li><span>&gt; 酒店会所</span></li>
							<li><span>&gt; 公共设施</span></li>
							<li><span>&gt; 办公医疗</span></li>
							<ul class="double">
									<li><span>办公设施</span></li>
									<li><span>医疗建设</span></li>
							</ul>
						</ul>
					</div>
					<div id="re_product">
						<h4>推荐产品</h4>
						<i></i>
						<ul>
							<li>
								<a href="">
									<img src="img/xiangmufuwu/b3.jpg" alt="">
								</a>
								<div>商务会所</div>
								<div>MORE</div>
							</li>
							<li>
								<a href="">
									<img src="img/xiangmufuwu/b.jpg" alt="">
								</a>
								<div>商务会所</div>
								<div>MORE</div>
							</li>
							<li>
								<a href="">
									<img src="img/xiangmufuwu/b1.jpg" alt="">
								</a>
								<div>客厅</div>
								<div>MORE</div>
							</li>			
						</ul>
					</div>
					<div id="re_news">
						<h4>推荐新闻</h4>
						<i></i>
						<ul>
							<li>
								<p>Sep 17,2016</p>
								<p>低碳建筑首选天然石材 环保健康受欢迎</p>
							</li>
							<li>
								<p>Sep 17,2016</p>
								<p>低碳建筑首选天然石材 环保健康受欢迎</p>
							</li>
							<li>
								<p>Sep 17,2016</p>
								<p>装修旺季促销建材家居景气指数回升</p>
							</li>
							<li>
								<p>Sep 17,2016</p>
								<p>全球原木材原料严重紧缺危机建材行业</p>
							</li>
							<li>
								<p>Jan 14,2014</p>
								<p>将文化融入设计 以设计推动创新</p>
							</li>	
							<li>
								<p>Jan 15,2014</p>
								<p>我国玻璃纤维产业规模居世界第一位</p>
							</li>							
						</ul>
					
					</div>
					<div id="key_word">
						<h4>热门关键词</h4>
						<i></i>
						<ul>
							<li><a href="#">卧室装修</a></li>
							<li><a href="#">酒店装修</a></li>
							<li><a href="#">会所装修</a></li>
							<li><a href="#">房屋精装</a></li>
						</ul>
					</div>
				</div>
				<div class="right">
					<div id="server_item" class="clear">
						<h4>服务项目</h4>
						<i></i>
						<div id="server_item_pics" class="clear">
						</div>
					</div>
					<ul class="page_num">
						<li><a href="#">上一页</a></li>
						<li><a href="#" class="active">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">下一页</a></li>
					</ul>
				</div>
			</div>
</div>