
    <div id="header" class="wrap clear">
		<img src="img/index/1474296540.png" alt="">
		<ul class="nav_right clear" >
			<li><a href="" class="active">首页</a></li>
			<li class="tri"><a href="">关于我们<i></i></a></li>
			<li class="tri"><a href="">服务项目<i></i></a></li>
			<li class="tri"><a href="">客户案例<i></i></a></li>
			<li class="tri"><a href="">新闻资讯<i></i></a></li>
			<li><a href="">在线招聘</a></li>
		</ul>
			<i class="fa fa-search"></i>	
		<ul class="drop_down about_us level_menu">
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;公司简介</a><i></i></li>
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;企业文化</a></li>
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;工程保修</a></li>
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;装修流程</a></li>
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;在线反馈</a></li>
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;联系我们</a></li>
		</ul>
		<ul  class="drop_down server level_menu">
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;精装修房</a><i></i></li>
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;酒店会所</a></li>
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;公共设施</a></li>
			<li class="linked">
			<a href="">&gt;&nbsp;&nbsp;&nbsp;办公医疗<i></i></a>
				<ul class="double">
					<li><a href="">&gt;&nbsp;&nbsp;&nbsp;办公设施</a></li>
					<li><a href="">&gt;&nbsp;&nbsp;&nbsp;医疗建设</a></li>
				</ul>
			</li>
		</ul>
		<ul  class="drop_down customer_case level_menu">
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;精装修房</a><i></i></li>
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;酒店会所</a></li>
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;公共设施</a></li>
			<li class="linked">
			<a href="">&gt;&nbsp;&nbsp;&nbsp;办公医疗<i></i></a>
				<ul class="double two_couplet">
					<li><a href="">&gt;&nbsp;&nbsp;&nbsp;办公设施</a></li>
					<li><a href="">&gt;&nbsp;&nbsp;&nbsp;医疗建设</a></li>
				</ul>
			</li>
		</ul>
		<ul class="drop_down news_information level_menu">
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;公司新闻</a><i></i></li>
			<li><a href="">&gt;&nbsp;&nbsp;&nbsp;行业动态</a></li>
		</ul>
	</div>