
<div>
    <div id="nav" class="wrap clear">
		<ul class="nav_parent">
			<li>首页<span>  /</span></li>
			<li>
				<div>服务项目<span>  /</span>
					<div>全部
						<div>精装修房
							<div>酒店会所
								<div>公共设施
									<div>办公医疗</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</li>
			<li>酒店会所</li>
		</ul>
	</div>
	<div id="pic_list" class="wrap clear">
		<div class="left">
			<div class="pic_wrap">
				<ul class="pic_details">
				
				</ul>
				<ul class="btns">

				</ul>
			</div>
		</div>
		<div class="right">
			<h4>商务会所</h4>
			<p>本设计中推崇的是一种自然流露的作风，奢华的且略带优雅的贵族气质。整个设计定位较之于传统意义上的法式风格，又杂糅了一些简约时尚风格，细节均体出现柔美精致的姣好的轮廓。但整体设计思路与处理手法都是在此基础上相辅相成有所统一的。.整个项目色调以素雅的白色为主，配合金属质感材料线条勾勒，局部细节上融入了简化的设计元素符号，告别传统意义上的法式风格设计；简约现代的装饰面配合含有高度概括法式元素的设计细节，烘托出其素净高雅气质；线条利落、色系沉稳的家私摆设，营造出静逸氛围。深色勾勒轮廓线的石材、镜面等材质的点缀应用，增加了整个空间的层次感，丰富了空间内容。在抓住如何和室外有机生命互动这点上，也是有经过深思熟虑的研究的。</p>
			<div class="building_information">
				<span>面积 : 140m²</span>
				<span>地址 : 中国</span>
				<br/>
				<span>风格 : 现代</span>	
			</div>
		</div>
	</div>
	<div id="details_information" class="wrap clear">
		<div class="details_left">
			<div class="content">
			<h5>详细信息</h5>
				<i></i>
				<p>本设计中推崇的是一种自然流露的作风，奢华的且略带优雅的贵族气质。整个设计定位较之于传统意义上的法式风格，又杂糅了一些简约时尚风格，细节均体出现柔美精致的姣好的轮廓。但整体设计思路与处理手法都是在此基础上相辅相成有所统一的。.整个项目色调以素雅的白色为主，配合金属质感材料线条勾勒，局部细节上融入了简化的设计元素符号，告别传统意义上的法式风格设计；简约现代的装饰面配合含有高度概括法式元素的设计细节，烘托出其素净高雅气质；线条利落、色系沉稳的家私摆设，营造出静逸氛围。深色勾勒轮廓线的石材、镜面等材质的点缀应用，增加了整个空间的层次感，丰富了空间内容。在抓住如何和室外有机生命互动这点上，也是有经过深思熟虑的研究的。</p>
			</div>
		</div>
		<div class="details_right">
			<h5>热门推荐</h5>
			<div class="example1">
				<img src="img/small_pic/1.jpg" alt="">
				<p>商务会所</p>
			</div>
			<div class="example2">
				<img src="img/small_pic/2.jpg" alt="">
				<p>商务会所</p>
			</div>
			<div class="example3">
				<img src="img/small_pic/3.jpg" alt="">
				<p>客厅</p>
			</div>
			<div class="example4">
				<img src="img/small_pic/4.jpg" alt="">
				<p>卧室</p>
			</div>
			<div class="example5">
				<img src="img/small_pic/5.jpg" alt="">
				<p>别墅</p>
			</div>
			<div class="example6">
				<img src="img/small_pic/6.jpg" alt="">
				<p>公寓</p>
			</div>
		</div>
	</div>
</div>